# shuttle-template-axum gitignore configuration

# VS Code settings
.vscode

# Build artifacts
target

# Shuttle configuration and environment variables
.shuttle*
Secrets*.toml

# SQLite database
*.db

# /tmp directory (for testing OpenDAL)
/dev_blog_testing
/target
