# shuttle-template-axum gitignore configuration

# VS Code settings
.vscode

# Build artifacts
/target

# Shuttle configuration and environment variables
.shuttle*
Secrets*.toml

# Local SQLite database
*.db

# Content folder
/content

# /dev_blog_testing directory (for testing OpenDAL)
/dev_blog_testing
